<header class="container-fluid">
    <nav class="row navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Blog de viajes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-home fa-1x"></i> Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/autores"><i class="fa-solid fa-user fa-1x"></i> Autores</a>
              </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav d-flex flex-row-reverse mb-3">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/iniciar_sesion">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/registro">Registrarse</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
    </nav>
</header>