.footer-styles{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.image-background-home{
    width: 100%;
    height: 200px;
    background-image: url('../images/fondo.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.link-abrir-pagina-detalle-publicacion{
    color: black;
    text-decoration: none;
}

.link-abrir-pagina-detalle-publicacion:hover{
    color: rgb(66, 66, 66);
}

.contenido-detalle-publicacion{
    min-height: 70vh;
}

.image-avatar-autores{
    max-height: 80px;
}